name: Close If Passing

# To be used with:
# on:
#   check_run:
#     types:
#     - completed
# permissions:
#   contents: read
#   pull-requests: write

on:
- workflow_call

jobs:
  handle-ci-status:
    runs-on: ubuntu-latest

    steps:
      - name: Download and run close-if-passing script
        run: |
          # TODO switch to main branch after merging
            gh api repos/jglick/github-reusable-workflows/contents/.github/close-if-passing.sh?ref=automerge \
            --jq '.content' | base64 -d > close-if-passing.sh
          chmod +x close-if-passing.sh
          ./close-if-passing.sh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_EVENT_PATH: ${{ github.event_path }}
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
          GITHUB_REPOSITORY: ${{ github.repository }}
